<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>user_signup</servlet-name>
        <servlet-class>user_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_senderdetails</servlet-name>
        <servlet-class>user_senderdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_receiverdetails</servlet-name>
        <servlet-class>user_receiverdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_courierinformation</servlet-name>
        <servlet-class>user_courierinformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_branchinformation</servlet-name>
        <servlet-class>admin_branchinformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_payment</servlet-name>
        <servlet-class>user_payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedetails</servlet-name>
        <servlet-class>updatedetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>branchlogin</servlet-name>
        <servlet-class>branchlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_signup</servlet-name>
        <servlet-class>admin_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>branch_login</servlet-name>
        <servlet-class>branch_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_courier_details</servlet-name>
        <servlet-class>admin_courier_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>branch_signup</servlet-name>
        <servlet-class>branch_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_addresspage</servlet-name>
        <servlet-class>user_addresspage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pickup_address_page</servlet-name>
        <servlet-class>pickup_address_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_pending_orders</servlet-name>
        <servlet-class>admin_pending_orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>branch_pending_orders</servlet-name>
        <servlet-class>branch_pending_orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>branch_courier_details</servlet-name>
        <servlet-class>branch_courier_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_tracking</servlet-name>
        <servlet-class>admin_tracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>branch_tracking</servlet-name>
        <servlet-class>branch_tracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_tracking</servlet-name>
        <servlet-class>user_tracking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_signup</servlet-name>
        <url-pattern>/user_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_senderdetails</servlet-name>
        <url-pattern>/user_senderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_receiverdetails</servlet-name>
        <url-pattern>/user_receiverdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_courierinformation</servlet-name>
        <url-pattern>/user_courierinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_branchinformation</servlet-name>
        <url-pattern>/admin_branchinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_payment</servlet-name>
        <url-pattern>/user_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedetails</servlet-name>
        <url-pattern>/updatedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>branchlogin</servlet-name>
        <url-pattern>/branchlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_signup</servlet-name>
        <url-pattern>/admin_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>branch_login</servlet-name>
        <url-pattern>/branch_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_courier_details</servlet-name>
        <url-pattern>/admin_courier_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>branch_signup</servlet-name>
        <url-pattern>/branch_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_addresspage</servlet-name>
        <url-pattern>/user_addresspage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pickup_address_page</servlet-name>
        <url-pattern>/pickup_address_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_pending_orders</servlet-name>
        <url-pattern>/admin_pending_orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>branch_pending_orders</servlet-name>
        <url-pattern>/branch_pending_orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>branch_courier_details</servlet-name>
        <url-pattern>/branch_courier_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_tracking</servlet-name>
        <url-pattern>/admin_tracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>branch_tracking</servlet-name>
        <url-pattern>/branch_tracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_tracking</servlet-name>
        <url-pattern>/user_tracking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
