/* 
    Document   : registration
    Created on : 27 Jan, 2023, 7:11:26 PM
    Author     : vaishnavi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
     background-image: url(images/31.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
     background-position: center;
     
}

.whitediv
{
    height: 500px;
    width: 500px;
    background-color:  transparent;
    margin-left: 50px;
    margin-top: 40px;
   
}

.textbox
{
    height: 50px;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
     
}

.button
{
    height: 50px;
    width: 60%;
    margin-left: 90px;
    margin-top: 5%;
    background-color: orange;   
    color: black;
    border-width: 7px;
    border-color: blue;
}


 
.lab
{
    font-size: 20px;
    margin-top: 30px;
}