/* 
    Document   : user_home2
    Created on : 3 Apr, 2023, 10:58:43 AM
    Author     : vaishnavi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
  
}